.{


     margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #946586;
  font-family: sans-serif;
}

.container{
width: 20rem;
height: 25rem;
border: 2px solid #946586;
position: relative;
cursor:pointer ;

}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(https://res.cloudinary.com/ddxwdqwkr/image/upload/v1632080765/smashing-articles/1300beach.jpg);
/* background-image: url(https://i.pinimg.com/736x/26/0f/47/260f47c28b9e715912e88d7c2e8d4033.jpg); */
background-size: cover;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 0 10px 25px black;
}

/* Hover = 3D Tilt + Animation Pause */
.card:hover {
  /* transform: rotateY(20deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 25px 40px rgba(0,0,0,0.4);
  animation-play-state: paused; pause animation on hover */
transform: perspective(20px) rotateX(2deg) translateY(-50px);
}
.bird{
  width: 20rem;
  height: 20rem;
  position: absolute;
  background-image: url("C:/pic_html/bird2.png");
  /* background-image: url(https://img.lovepik.com/free-png/20210919/lovepik-flying-bird-png-image_401007851_wh1200.png); */
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 1s;
  animation: animate 0.2s linear infinite;
  animation-play-state: paused !important;
}


.container:hover .bird{
  animation-play-state: running !important;
  transform: translateY(-200px) translateX(-10px);
}

@keyframes animate {
  from{
      background-image: url("C:/pic_html/bird2.png");

  }
  to{
      background-image: url("C:/pic_html/bird.png");

  }
}