/* .{
    margin: 0;
    padding: 0;
} */

body{
    /* object-fit: cover; */
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(blue,rgb(15, 245, 15));
}
 .h2{
    position: relative;
    /* margin: 20px 0, 0; */
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;

} 
  h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: -120%;
    width: 40%;
    height: 100%;
    background-size: 200%;
    background: linear-gradient(90deg, transparent 0%, #fff 50%, transparent 100%);

    /* background: linear-gradient(90deg,transparent 0%,#000 5%,#000 100%);  */
  /* background: linear-gradient(90deg,transparent 0%,#000 5%,#000 100%);   */
 animation: animate 4s linear forwards; 
 animation-delay: 2s;
}
@keyframes animate {
    0%{
        left: 110%;
    }
     100%{
        left: -20%;
    }
}
h2 span{
    color: red;
     /* text-shadow: 0 0 10px , 0 0 20px red, 0 0 40px red; */ /* animation: animate 1red.5s ease-in-out infinite alternate;  */
}
video{
    position: relative;
}