body{
    background-repeat:no-repeat;
    background-size: cover;
    background-color: rgb(80, 76, 95);
}
.container1{
height: 450px;
width: 779px;
background-color: rgb(55, 44, 78);
margin-left: 370px;
margin-top: 30px;
display: flex;
border-radius: 15px;
}
img{
    /* opacity: 1.0; */
    height: 450px;
width: 750px;
    border-radius: 8px;
    width: 300px;
}
.form1{
    /* text-align: left; */
    /* margin-left: 1px; */

    padding: 23px;
  
    height: 550;
    float: left;
}
.button1{
    height: 30px;
    width: 336px;
    border: solid 1px blue;
    border: none;
    /* margin-bottom: 2px; */
    /* text-align: center; */
    color: white;
    background-color: rgb(47, 125, 213);
    border-radius: 4px;
}
.button3{
     height: 34px;
     /* padding-bottom: 10px; */
     border: solid 1px rgb(106, 110, 116);
    width: 100px;
    text-align: center;
    color:rgb(106, 110, 116);
    background: transparent;
    border-radius: 4px;
    /* margin-left: 60px; */
      display: inline-flex;

    align-items: center;
  font-size:14px;
  font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    margin-left: 20px;

}

.button2{
        padding: 10px 20px;
  width: 100px;
margin-left: 50px;
     height: 34px;
     align-items: center;
     text-align: center;
     /* padding-bottom: 10px; */
     border: solid 1px rgb(106, 110, 116);
    color:rgb(106, 110, 116);
    background: transparent;
    border-radius: 4px;
display: inline-flex;  
  font-family: 'Times New Roman', Times, serif;

}
.eye{
position: relative;
}
.pwd{

}
.pwd1{

}
.eye1{
/* display: inline-flex; */
   margin-right: 12px; 
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
font-size: 12px;
    color:rgb(106, 110, 116);
}
.pwd{
/* display: inline-flex; */
}
.text1{
    position: absolute;
    top: 60px;
    left: 520px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
 .img2{
  
    position: absolute;
    top: 60px;
    left: 480px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text2{
    position: absolute;
    color:white;
    margin-top: 400px;
    /* top: 400px; */
    left: 520px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text3{
    color: white;
    position: absolute;
    /* top: 340px; */
    margin-top: 370px;
    left: 520px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 


/* white text */

  /*cursor: pointer;

  transition: all 0.3s ease;

/* Hover effect */

/*.social-btn:hover {

  background: rgba(255, 255, 255, 0.1);

  border-color: #fff;

}
 
/* Specific button styles 

.google-btn {

  border-color: #db4437;

  color: #db4437;

}
 
.google-btn:hover {

  background: #db4437;

  color: #fff;

}
 
.apple-btn {

  border-color: #000;

  color: #000;

  background: #fff;

}
 
.apple-btn:hover {

  background: #000;

  color: #fff;

}*/ 
