body{
    
    background-repeat:no-repeat;
    background-size: cover;
    background-color: rgb(80, 76, 95);
}
.container1{
/* margin-top: 40px; */
    background-color: rgba(55, 44, 78,0.8);
    /* opacity: 0.8; */
    /* background: transparent; */
height: 450px;
width: 750px;
margin-left: 320px;
margin-top: 50px;
display: flex;
border-radius: 12px;
border: 0.1px solid rgb(122, 118, 118);

/* background-image:url('C:/pic_html/beach.png'); */
}


.a1{
    height: 550px;
    width: 650px;
}
.a2{
    height: 550px;
    width: 650px;
}

.a1{
border: 4px rgb(228, 220, 220);
}
.a3{
    height: 20px;
    width: 20px;
}
img{

border-radius: 5px;
    opacity: 1.0;
    padding: 20px;
    height: 410px;
    width: 370px;
}
.form1{
     /* background-color: rgb(55, 44, 78); */
    text-align: left;
    margin-left: 5px;

    padding: 20px;
    height: 350;
    float: left;
}
.deposite{
margin-top: 20px;
}
label{
    font-size: small;
    color:white;
}
/* input{
    width: 250px;
    background: transparent;
    color: white;
} */
.button1{
    height: 30px;
    width: 140px;
    text-align: center;
    color: white;
    background-color: rgb(47, 125, 213);
    border-radius: 4px;
margin-left: 65px;
}
.gift1{
display: flex;
}
/* }
.gift{

}

.box1{
display: flex;
align-items: center;
gap: 2px;
}
.text2{
display: flex; */

.text1{
    float: left;
    width: 300px;
}
